h1 {
    color: red;
    background-color: blue;
    font-family: arial;
    text-align: center;
}

p {
    color: blue;
    font-family: Helvetica;
    text-align: left;
    font-size: 16px;
}

body {
    background-image: url("images/183586-131-98C46E36.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    text-align: center;
    color: yellow;
    bottom: 5px;
}